:root{
    --roxo_escuro: #721361;
    --roxo_claro:#b56ea3;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

footer {
    background-color: #212529;
    color: #fff;
    font-size: 14px;
}

.footer-top {
    background-color: var(--roxo_escuro);
    text-align: center;
    padding: 15px;
    color: #fff;
}

.footer-top p {
    margin: 0;
    font-size: 14px;
}

.social-icons a {
    margin: 0 10px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    background-color: #181818;
    color: #ccc;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}

.footer-bottom p a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-bottom p a:hover {
    color: #fff;
}