@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/* Variáveis CSS */
:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #961b80;
  --first-color-light: #f7eeee;
  --white-color: #ffffff;
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

/* Reset e estilo global */
*, ::before, ::after {
  box-sizing: border-box;
}

span.nav_name{
  color: var(--first-color-light);
}
body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
}

.bi{
    font-size: 22px;
    color: #fff;
}

a {
  text-decoration: none;
}

/* Header */
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: var(--z-fixed);
  transition: .5s;
}

.header_toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header_img img {
  width: 40px;
}

/* Barra de navegação lateral */
.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav_logo, .nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav_logo {
  margin-bottom: 2rem;
}

.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav_logo-name {
  color: var(--white-color);
  font-weight: 700;
}

.nav_link {
  position: relative;
  color: #fff;
  margin-bottom: 1.5rem;
  transition: .3s;
}

.nav_link:hover {
  color: #fff;
}

.nav_icon {
  font-size: 1.25rem;
}

/* Estados */
.show {
  left: 0;
}

.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}

.active {
  color: var(--white-color);
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

/* Altura total */
.height-100 {
  height: 100vh;
}

/* Responsividade */
@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header_img {
    width: 40px;
    height: 40px;
  }

  .header_img img {
    width: 45px;
  }

  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }

  .show {
    width: calc(var(--nav-width) + 156px);
  }

  .body-pd {
    padding-left: calc(var(--nav-width) + 188px);
  }
}

/* TABELA */

/* Estilo geral da tabela */
.style-tabela table {
  float: left;
  border: 1px solid #ccc;
  border-bottom: 0;
  border-right: 0;
  font-size: 0.8em;
  margin-top: 50px;
}

.style-tabela table tr td {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-top: 0;
  border-left: 0;
}

/* Estilo para células específicas */
.style-tabela table td.top {
  background-color: #00bcc4;
  color: #fff;
  font-size: 1.2em;
}

.style-tabela table td.top.center {
  text-align: center;
}

.style-tabela table td.total {
  text-align: left;
  font-weight: bold;
}

.style-tabela table td.top-toltip {
  background-color: #207d97;
  height: 25px;
  color: #fff;
  font-size: 16px;
}

/* Estilo para linhas e células do corpo */
.style-tabela tbody tr td {
  /*padding: 0.3em;
  border: 1px solid #ccc;
  border-top: 0;
  border-left: 0;*/
  text-align: center;
  vertical-align: middle;
}

.style-tabela tbody tr {
  background-color: #fff;
  color: #666;
}

.style-tabela tbody tr:hover {
  background-color: #f4f4f4;
  color: #00bcc4;
}

.style-tabela tbody tr td .editar,
.style-tabela tbody tr td .deletar {
    margin: 0 5px; /* Ajuste o valor conforme necessário */
}

.style-tabela tbody tr td .editar i,
.style-tabela tbody tr td .deletar i {
    font-size: 1.4em; /* Aumente o tamanho dos ícones */
    color: #bf303c;
}


/* Estilo para linhas de alerta */
.style-tabela tbody tr.mensagemAlerta {
  background-color: #fdeeef;
  color: #bf303c;
}

/* modal*/

#new {
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(57, 57, 226);
}


.modal-container {
  display: none; /* Oculto por padrão */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 999; /* Garante que fique abaixo do modal */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: block;
  align-items: center;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 50%;
  box-sizing: border-box;
}

.modal label {
  font-size: 14px;
  width: 100%;
}

.modal input,
.modal select {
  width: 100%;            
  padding: 10px 15px;     
  height: auto;           
  margin-bottom: 20px; 
  border-radius: 5px;      
  background-color: #f3ededcb; 
  border: 1px solid #ccc;  
  box-sizing: border-box;  
}

.modal .select2-container .select2-selection--single {
  width: 100%;   
  background-color: #f3ededcb; 
  border: 1px solid #ccc;  
  border-radius: 5px;      
  margin-bottom: 20px; 
  box-sizing: border-box;  
  height: 40px;  
}

.modal .select2-container .select2-selection__rendered {
    line-height: 38px;
    padding-left: 15px;
    width: 100%;   
}

.modal .select2-container .select2-selection__arrow {
    height: 38px; 
}


.modal button {
  display: block;
  margin: 10px auto;
  outline: none;
  border-radius: 20px; 
  padding: 10px 5px; 
  border: 1px solid  rgb(57, 57, 226); 
  width: 50%;
  border: none;
  background-color: rgb(57, 57, 226);
  color: white;
  align-items: center;
}

.active {
  display: flex;
}

.active .modal {
  animation: modal .4s;
}

.overlay {
    display: none; /* Oculto por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 999; /* Garante que fique abaixo do modal */
}

.nav_link {
  position: relative;
  color: #fff;
  margin-bottom: 1.5rem;
  transition: .3s;
}

.nav_link:hover {
    color: #d5a4cc;
}

/*TOAST*/
.toast-base {
    visibility: hidden;
    min-width: 300px;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 16px;
    position: fixed;
    z-index: 9999;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.toast-base.show {
    visibility: visible;
    opacity: 1;
}

.toast-base.toast-erro {
    background-color: #f44336; 
}

.toast-base.toast-sucesso {
    background-color: #4CAF50; 
}