/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7d2ae8;
  padding: 0px;
}

html, body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7d2ae8;
  overflow-x: hidden;
}

.container {
  position: relative;
  max-width: 100%; /* Remova se não quiser um limite de largura */
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 80px 0px;
  padding-right: 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  perspective: 2700px;
  display: flex;
  justify-content: space-between;
}

.container .cover {
  position: absolute;
  top: 0;
  left: 0%;
  height: 100%;
  width: 53%;
  z-index: 1;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}


.container #flip:checked ~ .cover {
  transform: rotateY(-180deg);
}

.container #flip:checked ~ .forms .login-form {
  pointer-events: none;
}

.container .cover .front,
.container .cover .back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cover .back {
  transform: rotateY(180deg);
}

.container .cover img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}

.container .cover .text {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .cover .text::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background: #7d2ae8;
}

.cover .text .text-1,
.cover .text .text-2 {
  z-index: 30;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.cover .text .text-2 {
  font-size: 15px;
  font-weight: 500;
}

.container .forms {
  position: relative;
  height: 80%;
  width: 80%;
  align-items: center;
  justify-content: center;
  background: #fff;
  margin-left: auto;
}

.container .form-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.form-content .login-form,
.form-content .signup-form {
  width: calc(100% / 2 - 25px);
}

.forms .form-content .title {
  position: relative;
  font-size: 30px;
  font-weight: 500;
  color: #333;
}

.forms .form-content .title:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #7d2ae8;
}

.forms .signup-form .title:before {
  width: 20px;
}

.forms .form-content .input-boxes {
  margin-top: 30px;
}

.forms .form-content .input-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

.form-content .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid {
  border-color: #7d2ae8;
}

.form-content .input-box i {
  position: absolute;
  color: #7d2ae8;
  font-size: 17px;
}

.forms .form-content .text {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.forms .form-content .text a {
  text-decoration: none;
}

.forms .form-content .text a:hover {
  text-decoration: underline;
}

.forms .form-content .button {
  color: #fff;
  margin-top: 40px;
}

.forms .form-content .button input {
  color: #fff;
  background: #7d2ae8;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}

.forms .form-content .button input:hover {
  background: #5b13b9;
}

.forms .form-content label {
  color: #5b13b9;
  cursor: pointer;
}

.forms .form-content label:hover {
  cursor: pointer;
  text-decoration: none;
}

.radio-group {
  display: flex;
  gap: 50px; /* espaço entre os radios */
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.form-check {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 14px;
  color: #5b13b9; /* cor do texto */
}

.form-check input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border: 2px solid #7d2ae8;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
  background-color: #fff;
}

.form-check input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  width: 9.5px;
  height: 9.5px;
  border-radius: 50%;
  background-color: #7d2ae8; /* Cor interna quando selecionado */
}

.forms .form-content .login-text,
.forms .form-content .sign-up-text {
  text-align: center;
  margin-top: 25px;
}

.container #flip {
  display: none;
}

#forgotPasswordBtn .sign-up-text {
  color: #7d2ae8;
}

#toast, .toast {
  visibility: hidden;
  min-width: 250px;
  background-color: #f44336; /* vermelho */
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  z-index: 9999;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#toast.show, .toast.show {
  visibility: visible;
  opacity: 1;
}

#toast-error {
  background-color: #f44336;
}

/* Toast de sucesso (verde) */
#toast-success {
  background-color: #4CAF50;
}


/* modal*/

#new {
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(57, 57, 226);
}

.modal-container {
  display: none; /* Oculto por padrão */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 999; /* Garante que fique abaixo do modal */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: block;
  align-items: center;
  padding: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 40%;
  box-sizing: border-box;
}

.modal_title{
  font-size: 25px;
  font-weight: 450;
  color: #333;
  margin-bottom: 15px;
}

.modal_title:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #7d2ae8;
}

.modal label {
  font-size: 14px;
  width: 100%;
}

.modal input {
  width: 100%;            
  padding: 10px 15px;     
  height: auto;           
  margin-bottom: 20px; 
  border-radius: 5px;      
  outline: none;
  background-color: #fff; 
  border: 2px solid rgba(0, 0, 0, 0.2);  
  box-sizing: border-box;  
}

.modal button {
  display: block;
  margin: 10px auto;
  outline: none;
  border-radius: 20px; 
  padding: 10px 5px; 
  border: 1px solid  rgb(57, 57, 226); 
  width: 50%;
  border: none;
  background-color: rgb(57, 57, 226);
  color: white;
  align-items: center;
}

.active {
  display: flex;
}

.active .modal {
  animation: modal .4s;
}

.overlay {
    display: none; /* Oculto por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 999; /* Garante que fique abaixo do modal */
}

@media (max-width: 730px) {
  .container .cover {
    display: none;
  }

  .form-content .login-form,
  .form-content .signup-form {
    width: 100%;
  }

  .form-content .signup-form {
    display: none;
  }

  .container #flip:checked ~ .forms .signup-form {
    display: block;
  }

  .container #flip:checked ~ .forms .login-form {
    display: none;
  }
}

.mensagem {
    font-size: 1.2em;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.mensagem.erro {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
}

.mensagem.sucesso {
    color: #3c763d;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
}
